.particles {
  width: 100%;
  position: fixed;
}
.Center {
  margin: 50px;
}
.Name-profession {
  text-align: left;
}
.Name {
  letter-spacing: 0.15em;
  font-size: 4vw;
}
.Profession {
  letter-spacing: 0.22em;
  font-size: 3vw;
}
.Name,
.Profession {
  text-align: left;
}
.About-me {
  text-align: left;
  margin-top: 100px;
  background: rgb(00, 01, 10);
  padding: 10px;
  width: 60%;
}
.Btn-contact {
  margin-top: 50px;
}
.skills,
.Projects {
  margin-top: 50px;
}

.FrontGround {
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.8vh;
  padding: 10px;
  letter-spacing: 1.5px;
}
.Repo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowRepo {
  margin-left: 20px;
  margin-bottom: 20px;
}
.fileRepo {
  background: rgba(11, 0, 112, 0.08);
}
ul {
  border-left: 1px solid #00ffe4;
  padding: 0;
  margin-left: 20px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.select {
  border-bottom: 1px solid #00ffe4;
}
.infoRepo {
  font-size: 1rem;
  display: flex;
  flex-direction: row;

  opacity: 0.7;
}
.textInfoRepo {
  color: #00ffe4;
  font-size: 1rem;
  height: fit-content;
  padding-left: 10px;
  margin-right: 5px;
  border-bottom: 1px solid #00ffe4;
}
canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .About-me {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .Name {
    font-size: 15vw;
    text-align: Center;
  }
  .Profession {
    font-size: 5.2vw;
    text-align: center;
  }
  .About-me {
    width: 100%;
  }
}
